<!DOCTYPE html>
<html lang="bg">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Админ панел</title>
</head>

<body>
    <header>
        <h2>Какво се прави /ADMIN PANEL/</h2>
        <button id="exit_admin">Изход</button>
        <hr>
    </header>

    <main>
        <button id="postArticle">Add an article</button>
        <% articles.forEach((item)=> { %>
            <section style="border: 2px solid grey;" style="border-radius: 30px;">
                <h3>
                    <%= item.title %>
                </h3>
                <%- item.content %>
                    <button data-id="<%- item._id %>" data-action="edit" style="color: orange;">Редактиране</button>
                    <button data-id="<%- item._id %>" data-action="deletion" style="color: red;">Изтриване</button>
            </section>
            <% }); %>

    </main>
    <script>
        const articles = <%- JSON.stringify(articles) %>;

        document.getElementById("postArticle").addEventListener("click", () => {
            location.href = "/admin/add-article";
        });

        document.querySelectorAll('button[data-id]').forEach(btn => {
            btn.addEventListener("click", (e) => {
                const id = btn.dataset.id;
                const action = btn.dataset.action;

                if (action === "edit") {
                    location.href = `/admin/edit-article/${id}`;

                } else if (action === "deletion") {
                    if (confirm("Сигурни ли сте, че искате да изтриете тази публикация?")) {
                        fetch(`/article/${id}`, {
                            method: 'DELETE'
                        })
                            .then(res => res.json())
                            .then(data => {
                                if (data.success) {
                                    alert("Статията беше изтрита");
                                    location.reload();
                                } else {
                                    alert("грешка при изтриване");
                                }
                            })
                            .catch(err => {
                                console.error(err);
                                alert("Сървърна грешка");
                            });
                    }
                }
            });
        });

        document.getElementById("exit_admin").addEventListener("click", () => {
            if (confirm("Наистина ли изкате да излезете от админ акаунта?")) {
                fetch("/admin/logout", { method: "POST" }).then(() => {
                    window.location.href = "/";
                });
            }
        })
    </script>
</body>

</html>