<!DOCTYPE html>
<html lang="bg">

<%- include('head') %>
  <style>
    html,
    body {
      height: 100%;
      margin: 0;
    }

    body {
      display: flex;
      flex-direction: column;
    }

    main {
      flex: 1;
    }
  </style>

  <body>
    <%- include('header') %>

      <main class="container my-5">

        <article class="mb-5">
          <h2 class="fw-bold mb-3">
            <%= the_article.title %>
          </h2>
          <div class="mb-4">
            <%- the_article.content %>
          </div>
        </article>

        <div class="bg-light p-3 rounded shadow-sm">
          <h5 class="mb-2">Информация за статията</h5>
          <p class="mb-1"><strong>Дата на създаване:</strong>
            <%= formattedDate %>
          </p>
          <p><strong>Преглеждания:</strong>
            <%= the_article.articleViews %>
          </p>
        </div>

      </main>


      <%- include('footer') %>

  </body>

</html>